<main class="relative px-6 py-8 sm:px-10 sm:py-12 lg:p-14 border-1 shadow-xl max-w-[1080px] min-h-[80vh] mx-auto bg-white md:border rounded border-primary-100">
  <div class="mx-auto w-full max-w-[900px]">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
