<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta property="og:url" content={assigns[:og_url] || nil} />
    <meta property="og:type" content={assigns[:og_type] || nil} />
    <meta property="og:title" content={assigns[:page_title] || nil} />
    <meta property="og:description" content={assigns[:og_description] || nil} />
    <.live_title suffix=" · SnapId">
      <%= assigns[:page_title] || "Snapid" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css" />
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js">
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js">
    </script>
    <script phx-track-static type="text/javascript" src={~p"/assets/trix_config.js"}>
    </script>
  </head>
  <body class="text-[#333333] dark:!text-white antialiased bg-primary-50 dark:bg-brand-800 px-0 pb-10 md:px-[5%] md:pt-8 text-sm sm:text-base md:text-lg">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_user do %>
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          <%= @current_user.email %>
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_in"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    <%= @inner_content %>
    <p class="text-center mt-6 !text-xs text-brand-400">
      SnapId 2024 • by the creator of <a class="font-bold" href="https://scalev.id">Scalev</a>
    </p>
  </body>
</html>
