<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta property="og:url" content={assigns[:og_url] || nil} />
    <meta property="og:type" content={assigns[:og_type] || nil} />
    <meta property="og:title" content={assigns[:page_title] || nil} />
    <meta property="og:description" content={assigns[:og_description] || nil} />
    <.live_title suffix=" · SnapId">
      <%= assigns[:page_title] || "Snapid" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css" />
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js">
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js">
    </script>
    <script phx-track-static type="text/javascript" src={~p"/assets/trix_config.js"}>
    </script>
  </head>
  <body class="text-[#333333] dark:!text-white antialiased bg-primary-50 dark:bg-brand-800 px-0 pb-10 md:px-[5%] md:pt-8 text-sm sm:text-base md:text-lg">
    <%= @inner_content %>
    <p class="text-center mt-6 !text-xs text-brand-400">
      SnapId 2024 • by <a class="font-bold" href="https://scalev.id">Scalev</a>
    </p>
  </body>
</html>
